name: Reference Generation - Trigger All

on:
  workflow_dispatch:
    inputs:
      source_ref:
        description: Branch or tag to run the generation workflows on
        required: true
        default: cmake/bootstrap

permissions:
  actions: write
  contents: read

jobs:
  trigger-ref-generation:
    name: trigger / ${{ matrix.workflow }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        workflow:
          - ref-make-linux.yml
          - ref-make-freebsd.yml
          - ref-make-openbsd.yml
          - ref-make-netbsd.yml
    steps:
      - name: Dispatch ${{ matrix.workflow }}
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: '${{ matrix.workflow }}',
              ref: '${{ inputs.source_ref }}'
            });
            core.info('Dispatched ${{ matrix.workflow }} on ref ${{ inputs.source_ref }}');
